{
	email <{$EMAIL}>
}

{$DOMAIN}, {$DDNS_DOMAIN}, {$LOCAL_DOMAIN} {
	handle {
		basicauth {
			{$MLFLOW_USERNAME} {$MLFLOW_HASH_PASSWORD}
		}
		reverse_proxy mlflow_server:5000 {
		}
	}
}

#{$MINIO_DOMAIN} {
#	handle / {
#		reverse_proxy mlflow_s3:9000 {
#		    header_up Host {host}
#			header_up X-Real-IP {remote_host}
#			header_up X-Forwarded-For {remote_host}
#			header_up X-Forwarded-Proto {scheme}
#		}
#	}

#	handle_path /console/* {
#		reverse_proxy mlflow_s3:9001 {
#		    header_up Host {host}
#			header_up X-Real-IP {remote_host}
#			header_up X-Forwarded-For {remote_host}
#			header_up X-Forwarded-Proto {scheme}
#		}
#	}
#}
